

.ul {
	background-color: black;

}

body {
   background: url(http://allswalls.com/images/stone-rock-abstract-wallpaper-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 70px;


}

#logo {
	display: block;
    margin: auto;
    width: 20%;
    height:20%;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
	box-shadow: 5px 5px 5px 0px black;
    -webkit-amimation-duration: 1s;
    
}

h1{
	
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);

}

h3 {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	
}

h4 {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}

h5 {
	text-align: center;
	font-family: : 'Fjalla One', sans-serif;
}

a {
    text-align: center;
}


#profile {
	display: block;
    margin: auto;
    width: 20%;
    height:20%;
    padding-left: 4cm;
 


}

a.fa.fa-user {
	font-size: 16px;
	font-family: 'Fjalla One', sans-serif;
}

a.fa.fa-th {
	font-size: 16px;
	font-family: 'Fjalla One', sans-serif;

}
a.fa.fa-envelope {
	font-size: 16px;
	font-family: 'Fjalla One', sans-serif;

}

div.transbox {
  margin: 20px;
  background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
	box-shadow: 5px 5px 5px 0px black;
}

p {
	color:white;
	font-size: 18px;
}

div.thumbnail {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
	box-shadow: 5px 5px 5px 0px black;
	

}

#tm1 {
	height: 125px;
	width: 150px;
	border: 1px solid white;
}

.button1 {
    background-color: #FF5C5B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border:1px solid white; 

}

a.button1 {
	position:relative; 
	
}

#contact {
	padding-left: 4cm;  
}

hr {
     height: 8px;
    background-color: white;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: s#FF5C5B;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;

}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #FF5C5B;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
    box-shadow: 5px 5px 5px 0px black;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #FF5C5B;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
    box-shadow: 5px 5px 5px 0px black;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #FF5C5B;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
    box-shadow: 5px 5px 5px 0px black;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-instagram {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #FF5C5B;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(153,151,153,1);
    box-shadow: 5px 5px 5px 0px black;
}
.fa-instagram:hover {
    background-color: #458eff;
}

#connect {
	display: block;
    margin: auto;
    width: 20%;
    height:20%;
}

div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(8px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-8px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
